.searchPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    padding-top: 100px;
    min-height: 80vh;

  }

.resultsContainer {
  padding-top: 30px;
  flex: 1;
}     

.noResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.noResultsText {
    color: black;
    font-size: 40px;
    font-weight: 700;
  }

  .maybeText {
    color: black;
    font-size: 30px;
    padding-top: 20px;
  }

  .headerPostsContainer {
    margin-top: -100px;
  }

  @media only screen and (max-width: 1200px) {
    .noResultsText {
      font-size: 30px;
    }
    .maybeText {
      font-size: 26px;
    }
    .headerPostsContainer {
      padding-top: 0px;
    }
    .resultsContainer {
      padding-top: 20px;
    }   
    .headerPostsContainer {
      margin-top: -80px;
         }  
  }
  

 @media only screen and (max-width: 750px) {
  .searchPage {
      padding-top: 150px;
   }    
   .headerPostsContainer {
      margin-top: -150px;
      width: 80%;
   }
  }
  @media only screen and (max-width: 600px) {
  .headerPostsContainer {
    width: 70%;
    font-size: 16px;
  }
   }

   @media only screen and (max-width: 480px) {
    .headerPostsContainer {
      width: 60%;
      font-size: 14px;
    }

     }
  
  